<%- include('header') -%>

<div class="main-container">
  <div class="login-form">  
    <h2 class="text-light p-3">Welcome to My Dashboard</h2>
    <p class="text-light"><%= user %></p>
    <a href="/route/logout" class="text-decoration-none text-light">Log out</a>
  </div>
</div>

<%- include('footer') -%>