<%- include('header') -%>

<div class="main-container">
    <div class="login-form">
        <p class="text-light">Invalid Username</p>
        <a href="/" class="text-decoration-none text-light">Go Back</a>
    </div>
</div>


<%- include('footer') -%>