<%- include('header') -%>

<div class="main-container">
  <div class="login-form p-5">
   <div class="text text-center">
    <h2 class="text-light">Register System</h2>
    <span class="text-opacity">Register as a new user</span>
   </div>
   <form action="/route/register" method="post" class="form my-5">
    <div class="login-inputs">
        <label class="text-light label" for="username">Username:</label>
        <input class="input form-control" type="text" id="username" placeholder="Enter username" name="username" required>
      </div>
     <div class="login-inputs">
       <label class="text-light label" for="email">Email:</label>
       <input class="input form-control" type="email" id="email" placeholder="Enter email" name="email" required>
     </div>
     <div class="login-inputs">
      <label class="text-light label" for="password">Password:</label>
      <input class="input form-control" type="text" id="password" placeholder="Enter password" name="password" required>
    </div>
    <div class="button text-center p-3">
    <button class="btn btn-success" type="submit">Register</button>
    </div>
    <div class="text-center">
    <a href="/route/login" class="text-light text-decoration-none">Already logged in?</a>
    </div>
    <% if(locals.logout){%>
      <div class="alert alert-success mt-3">
        <p class="m-0"><%= logout %></p>
      </div>
    <% } %>  
   </form>
  </div>
</div>

 <%- include('footer') -%>
 